* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

body {
  min-height:100vh;
  background:#111;
  color:#fff;
}

.bg {
  position:fixed;
  inset:0;
  background:url("assets/bg/wallpaper.png") center/cover no-repeat;
  filter:blur(5px);
  z-index:-1;
}

.main {
  display:flex;
  justify-content:center;
}

.ads-container {
  width:90%;
  max-width:480px;
  height:180px;
  margin:20px auto;
  overflow:hidden;
}

.ads-slide { display:flex;
            transition:
            transform 0.5s ease-in-out; 
            height:100%; }
.ads-slide img { width:100%;
                flex-shrink:0;
                object-fit:cover; 
                border-radius:16px; }


.card {
  width:100%;
  max-width:420px;
  background:rgba(0,0,0,.45);
  backdrop-filter:blur(12px);
  border-radius:24px;
  padding:28px;
  margin-bottom:40px;
  box-shadow:0 8px 32px rgba(0,0,0,.6);
}

.subtitle {
  font-size:14px;
  opacity:.7;
  margin-bottom:12px;
}

.counter {
  display:flex;
  justify-content:space-between;
  font-size:13px;
  margin-bottom:16px;
}

.payment {
  background:rgba(255,255,255,.05);
  border-radius:18px;
  padding:16px;
  text-align:center;
}

.payment img {
  width:80px;
  border-radius:16px;
  margin-bottom:8px;
}

.payment button {
  margin-top:8px;
  padding:8px 14px;
  border:none;
  border-radius:12px;
  cursor:pointer;
}

#copyBtn {
  background:#1abc9c;
  color:#fff;
}

.switch {
  display:flex;
  gap:8px;
  margin-top:12px;
}

.switch button {
  flex:1;
  background:rgba(255,255,255,.1);
  color:#fff;
}

.qris-box {
  display:none;
  margin-top:12px;
  gap:8px;
  flex-direction:column;
}

.qris-box input {
  padding:10px;
  border-radius:12px;
  border:none;
  background:rgba(255,255,255,.1);
  color:#fff;
}

.qris-box button {
  background:#38bdf8;
  color:#000;
}

.social {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:12px;
  margin-top:16px;
}
.social img {
  width:28px;
  height:28px;
  margin-bottom:8px;
  opacity:0.95;
}
.social span {
  font-size:13px;
  font-weight:600;
  color:#fff;
  text-align:center;
  line-height:1.2;
}
.social a,.disabled {
  background:rgba(255,255,255,.85);
  border-radius:16px;
  padding:12px;
  text-align:center;
}

.disabled {
  opacity:.5;
}

.qr-modal {
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.85);
  display:none;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.qr-modal img {
  width:80%;
  max-width:320px;
  border-radius:16px;
}
