.payment-wrapper {
  overflow: hidden;
  width: 100%;
  margin: 24px 0;
}

.payment-track {
  display: flex;
  transition: transform .45s ease;
}

.payment-card {
  min-width: 100%;
  text-align: center;

  background: rgba(20,20,20,0.55);
  backdrop-filter: blur(12px);
  border-radius: 22px;
  padding: 24px;

  box-shadow: 0 10px 28px rgba(0,0,0,0.45);
}

.payment-card img {
  width: 80px;
  margin-bottom: 14px;
}

.payment-card h3 {
  margin: 6px 0 14px;
}

.payment-card button {
  padding: 10px 20px;
  border-radius: 14px;
  border: none;
  background: #1db954;
  color: black;
  font-weight: 600;
}
